.navbar{
    background-color: #00be00;
    overflow: hidden;
    font-size: larger;
    font-weight: bold;
    font-family: "Anta", sans-serif;
    height: 60px;
    border-radius: 30px;
    color: #ffffff;
    display: flex;
    //justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: auto;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #00ffc8;
    color: #00133b;
}

.navbar a.active {
    background-color: #ffffff;
    color: rgb(0, 78, 42);
    border-radius: 10px;
}

.navbar img {
    height: 50px;
    margin-left: 10px;
}

.navbar .website-name {
    font-size: xx-large;
    margin-left: 10px;
    line-height: 60px;
}