.navbar{
    background-color: #003000;
    overflow: hidden;
    font-size: larger;
    font-weight: bold;
    font-family: "Anta", sans-serif;
    height: 60px;
    color: #ffffff;
}

.navbar a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    position: relative;
}

.navbar a:hover {
    background-color: #00ffc8;
    color: #00133b;
}

.navbar a.active {
    background-color: #ffffff;
    color: rgb(0, 78, 42);
    border-radius: 10px;
}

.navbar img {
    height: 40px;
    float: left;
    align-items: center;
}

.navbar .website-name {
    font-size: xx-large;
    margin-left: 10px;
    line-height: 60px;
}