.navbar{
    background-color: #00ff00;
    overflow: hidden;
    font-size: larger;
    font-weight: bold;
    font-family: Anta;
}

.navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #00ffc8;
    color: #00133b;
}

.navbar a.active {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
}

.navbar img {
    height: 40px;
    float: left;
    background-color: transparent;
    align-items: center;
}

.navbar .website-name {
    font-size: x-large;
    margin-left: 10px;
    float: left;
    text-align: center;
}