.navbar{
    background-color: #008000;
    overflow: hidden;
    font-size: larger;
    font-weight: bold;
    font-family: "Anta", sans-serif;
}

.navbar a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #00ffc8;
    color: #00133b;
}

.navbar a.active {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
}

.navbar img {
    float: left;
    align-items: center;
}

.navbar .website-name {
    font-size: xx-large;
    font-stretch: expanded;
    margin-left: 10px;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
}